{% extends "base.html" %}
{% block title %}XCDB Person List{% endblock %}
{% block content %}

<h1 align="center">XCDB Person List</h1>
<p><h3>As of: {% now 'Y-m-d H:i e' %}</h3></p>

<table style="margin-left:2px" border=1 cellspacing=0 cellpadding=3>
    <tr>
        <th><a href="?format=html;sort=portal_login">Portal ID</a></th>
        <th><a href="?format=html;sort=last_name">Last name</a></th>
        <th><a href="?format=html;sort=first_name">First name</a></th>
        <th><a href="?format=html;sort=middle_name">Middle name</a></th>
        <th><a href="?format=html;sort=emails">E-mail(s)</a></th>
        <th>Person ID (detail)</th>
    </tr>
    {% for record in results %}
    <tr>
        <td>{{ record.portal_login }}</td>
        <td>{{ record.last_name }}</td>
        <td>{{ record.first_name }}</td>
        <td>{{ record.middle_name }}</td>
        <td>{{ record.emails }}</td>
	    <td><a href="{{ record.DetailURL }}?format=html">{{ record.person_id }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}
