{% extends "base.html" %}
{% block title %}Information Services Processing Status{% endblock %}
{% block content %}
  <table width="98%" border=0 cellspacing=0 cellpadding=0>
    <tr height="50">
      <td width="22%" align="left"></td>
      <td width="52%" align="center" valign="center"><h1>Processing Status Records</h1></td>
      <td width="22%" align="right" valign="top"><td>
    </tr>
  </table>
  <p><h3>As of: {% now 'Y/m/d H:i e' %}</h3></p>
  <table style="margin-left:2px" border=1 cellspacing=0 cellpadding=3>
  <tr><th>Topic</th><th>About</th><th>Application</th><th>Function</th><th>Code</th><th>Message</th><th>Processed at</th><th>Age</th><th>ID</th></tr>
  {% for record in record_list|dictsortreversed:"ProcessingStart" %}
    <tr>
    <td>{{ record.Topic }}</td>
    <td>{{ record.About }}</td>
    <td>{{ record.ProcessingApplication }}</td>
    <td>{{ record.ProcessingFunction }}</td>
    <td align="center">{{ record.ProcessingCode }}</td>
    <td align="center"><b><div title="{{ record.ProcessingMessage }}">See</div></b></td>
    <td>{{ record.ProcessingEnd|date:'Y/m/d H:i e' }}</td>
    <td align="right">{{ record.ProcessingEnd|timesince }}</td>
    <td>{{ record.ID }}</td>
    </tr>
  {% endfor %}
{% endblock %}
