{% extends "base.html" %}
{% block title %}RDR Detail{% endblock %}
{% block content %}

<style>
th, td
    {
        padding: 15px;
    }

th
    {
        color: white;
        background-color: #1E06B4;
        text-align: left;
        width: 10px;
    }

td
    {
        color: #69696B;
    }

table#data
    {
        border: 2px solid black;
        border-collapse: collapse;
    }
</style>

<h1 align="center">RDR Detail</h1>
<p><h3>As of: {% now 'Y/m/d H:i e' %}</h3></p>

<table id ="data" width="98%" style="margin-left:2px" border=1 cellspacing=0 cellpadding=3>
    
    {% for item in result_set %}
    <tr>
        <th>RDR ID</th>
        <td>{{ item.rdr_resource_id }}</th>
    </tr>
    <tr>
        <th>RDR Type</th>
        <td>{{ item.rdr_type }}</th>
    </tr>
    <tr>
        <th>Affiliation</th>
        <td>{{ item.project_affiliation }}</th>
    </tr>
    <tr>
        <th>Provider Level</th>
        <td>{{ item.provider_level }}</th>
    </tr>
    <tr>
        <th>ResourceID</th>
        <td>{{ item.info_resourceid }}</th>
    </tr>
    <tr>
        <th>SiteID</th>
        <td>{{ item.info_siteid }}</th>
    </tr>
    <tr>
        <th>Descriptive Name</th>
        <td>{{ item.resource_descriptive_name }}</th>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ item.resource_descriptive_name }}</th>
    </tr>
    <tr>
        <th>Current Status</th>
        <td>{{ item.current_status }}</th>
    </tr>
    <tr>
        <th>Latest Status</th>
        <td>{{ item.latest_status }} from {{ item.latest_status_begin }} till {{ item.latest_status_end }}</th>
    </tr>
    <tr>
        <th>Parent Resource</th>
        <td>{{ item.parent_resource }}</th>
    </tr>
    <tr>
        <th>Recommended Use</th>
        <td>{{ item.recommended_use }}</th>
    </tr>
    <tr>
        <th>Access Description</th>
        <td>{{ item.access_description }}</th>
    </tr>
    <tr>
        <th>Resource Status</th>
        <td>{{ item.resource_status }}</th>
    </tr>
    <tr>
        <th>Other Attributes</th>
        <td>{{ item.other_attributes }}</th>
    </tr>
    
    <tr>
        <th>Updated At</th>
        <td>{{ item.updated_at }}</th>
    </tr>
    
    {% endfor %}
{% endblock %}
