{% extends "base.html" %}
{% block title %}Support Contact List{% endblock %}
{% block content %}

<h1 align="center">Support Contact List</h1>

<table style="margin-left:2px" border=1 cellspacing=0 cellpadding=3>
    <tr>
        <th>GlobalID</th>
        <th>Name</th>
        <th>ContactEmail</th>
        <th>ContactPhone</th>
        <th>Detail</th>
    </tr>
    
    {% for record in results %}
    <tr>
        <td>{{ record.GlobalID }}</td>
        <td>{{ record.Name }}</td>
        <td>{{ record.ContactEmail }}</td>
        <td>{{ record.ContactPhone }}</td>
        <td><a href="{{ record.DetailURL }}?format=html">Detail</a></td>
    </tr>
    {% endfor %}
{% endblock %}
