{% extends "base.html" %}

{% block content %}
{% load static %}
<h1 class="title">Information Services Feedback</h1>
<br>
<p>We welcome community feedback on how to improve Information Services.</p>
<h4>→ To request new features or enhancements <a href="mailto:help@xsede.org?subject=Information%20Services%20feature%20request">e-mail help@xsede.org with the Subject "Information Services feature request"</a>.</h4>
<br>
<h4>→ To participate in requirements, ideas, or Q&amp;A discussions visit the <a href="https://software.xsede.org/discussion-forums/information-services">Information Services discussion forum</a>.</h4>
<br>
<h4>→ To submit a bug report <a href="mailto:help@xsede.org?subject=Information%20Services%20bug%20report">e-mail help@xsede.org with the Subject "Information Services bug report"</a>.</h4>
<br><br>
{% endblock %}
