{% extends "base.html" %}
{% block title %}Publisher Information{% endblock %}
{% block content %}

<style>
th, td
    {
        padding: 15px;
    }

th
    {
        color: white;
        background-color: #1E06B4;
        text-align: left;
        width: 10px;
    }

td
    {
        color: #69696B;
    }

table#data
    {
        border: 2px solid black;
        border-collapse: collapse;
    }
</style>

<h1 align="center">Publisher Information</h1>
<p><h3>As of: {% now 'Y-m-d H:i e' %}</h3></p>

<table id ="data" width="98%" style="margin-left:2px" border=1 cellspacing=0 cellpadding=3>
    
    {% for record in record_list %}
    <tr>
        <th>ID</th>
        <td>{{ record.ID }}</th>
    </tr>
    
    <tr>
        <th>ResourceID</th>
        <td> {{ record.ResourceID }}</th>
    </tr>
    
    <tr>
        <th>Type</th>
        <td>{{ record.Type }}</th>
    </tr>
    
    <tr>
        <th>Version</th>
        <td>{{ record.Version }}</th>
    </tr>
    
    <tr>
        <th>Hostname</th>
        <td>{{ record.Hostname }}</th>
    </tr>
    
    <tr>
        <th>Location</th>
        <td>{{ record.Location }}</th>
    </tr>
    
    <tr>
        <th>EntityJSON</th>
        <td>{{ record.EntityJSON }}</th>
    </tr>
    
    <tr>
        <th>Creation Time</th>
        <td>{{ record.CreationTime|date:'Y-m-d H:i:s e' }}</th>
    </tr>
    
    <tr>
        <th>RecentHistory</th>
        <td>{{ record.RecentHistory }}</th>
    </tr>
    {% endfor %}
{% endblock %}
